<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_before">
        <observer name="shipperhq_before_save_order_shipment" instance="ShipperHQ\Shipper\Observer\BeforeSaveOrderShipment"/>
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="shipperhq_save_email_variables" instance="ShipperHQ\Shipper\Observer\SaveEmailVariables"/>
    </event>
</config>


