<?xml version="1.0"?>
<!--
  ~ ShipperHQ
  ~
  ~ @category ShipperHQ
  ~ @package ShipperHQ\Shipper
  ~ @copyright Copyright (c) 2015 Zowta LTD and Zowta LLC (http://www.ShipperHQ.com)
  ~ @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
  ~ @author ShipperHQ Team sales@shipperhq.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ShipperHQ_Shipper::synchronize" title="Synchronize with ShipperHQ" module="ShipperHQ_Shipper" sortOrder="100" parent="Magento_Backend::other_settings" action="shipperhq/synchronize" resource="ShipperHQ_Shipper::synchronize"/>
    </menu>
</config>
