<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="ShipperHQ_Shipper::system_sync" title="Synchronize ShipperHQ" module="ShipperHQ_Shipper" sortOrder="40" parent="Magento_Backend::system_other_settings" action="adminhtml/shqsynchronize" resource="ShipperHQ_Shipper::sync"/>
    </menu>
</config>
